body{
    background-color: #1181b2;
    font-family: "Ubuntu", sans-serif;;
}

header {
    background-color: aliceblue;
    margin: 0 auto;
    height: 12vh;
    display: flex;
    align-items: center;
}

.logo img {
    width: 300px;
    max-height: 100%;
}

.headerMenu {
    margin: auto;
}

.menu-item a {
    color: #01315e;
    text-decoration: none;
    font-size: 22px;
    padding: 15px;
}

.menu-item a:hover {
    border-bottom: 2px solid #1181b2 ;
    transition: 0.1s;
    padding-bottom: 10px;
}
.menu-item li {
    display: inline-flex;
    padding: 15px 15px;
    font-size: 20px;
}

.menu, .menu-item {
    display: inline-block;
}

/* Se mudar para 33.33333333% PODE DAR MERDA*/
.col-4 {
    width: 31%;
}

.container h1 {
    text-align: center;
    padding: 4vh 0vh 3.5vh 0vh;
    margin: 0;
    font-weight: 700;
    font-size: 56px;
}

.servicostest {
    background-color: #fefefe;
    padding: 0;
    margin: 8px;
}

.servicostest p {
    text-align: start;
}

/* alinha os cards servicos hospitalares para nao quebrar nas telas */
.servicosJojo {
    text-align: center;
    justify-content: space-between;
}

.servicosDetalhes {
    padding: 2vh;
    font-size: 18px;
    align-items: center;
}

.servicosDetalhes h2 {
    font-weight: 500;
    font-size: 36px;
    color: #1181b2 !important;
    margin-bottom: 2vh;
}

.servicos {
    background-color: rgb(238, 238, 238);
    padding-bottom: 150px;
}

.imagemServicos {
    width: 100%;
    min-height: 270px !important;
    max-height: 270px !important;
}

/* Sobre nos */
.sobre-nos {
    background-color: #212221;
    height: 850px;
    text-align: left;
}

.sobre-nos h1 {
    color: #ecfcff;
}

.sobre-nos-body img {
    width: 100%;
    padding-top: 2vh;
}

.sobre-nos-body h3{
    color: #ecfcff;
    font-size: 36px;
    font-weight: 400;
}

.sobre-nos-texto {
    padding-left: 16px;
    color: #ecfcff;
    font-weight: 300;
    font-size: 22px;
}

/* Nossa equipe */

.nossa-equipe {
    background-color: rgb(238, 238, 238);
    height: 1300px;
}

.nossa-equipe h1 {
    color: #1181b2 !important;
}

.nossa-equipe p {
    font-size: 24px;
    font-weight: 300;
}

.nossa-equipe-body {
    padding-top: 36px;
    justify-content: space-between;
}

.nossa-equipe-med {
    text-align: center;
    border: 2px solid #1181b2;
    border-radius: 24px;
    padding: 18px;
}

.nossa-equipe-med img {
    width: 300px;
    height: 350px;
    margin-top: 34px;
    border-radius: 24px;
}
.nossa-equipe-med p {
    font-size: 22px;
}
.nossa-equipe-med h3 {
    font-weight: 400;
    font-size: 24px;
}
.nossa-equipe-med h2 {
    color: #1181b2 !important;
    margin: 20px;
}

/* footer */
#contact-area{
    text-align: center;
   
}

.titulo-footer{    
    border-bottom: 1px solid #ecfcff;
    color: #ecfcff;
    
}



.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ecfcff;
}


.contact-box i {
    color: #ecfcff;
    border: solid 1px #ecfcff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 35px;
    
}

.contact-box p {
    font-size: 20px;
    
}

.contact-title {
    font-weight: bold;
    color: #212221;

}

#msg-box p{
    font-size: 22px;
}

#contact-form input[type="nome"], #contact-form input[type="email"], #contact-form input[type="mensagem"]{
    margin-bottom: 15px;
    border-radius: 0;
}  

#contact-form .main-btn{
    margin-top: 10px;
    width: 120px;
    height: 50px;
    border-radius: 40%;
    background-color: #212221;
    border-color: #ecfcff;
    color: #ecfcff;
}


#contact-form .main-btn:hover{
    color: #1181b2;
    background-color: white;
    border-color: #212221;
}

